@font-face {
  font-family: "iconfont"; /* Project id 5045081 */
  src: url('iconfont.woff2?t=1762260823490') format('woff2'),
       url('iconfont.woff?t=1762260823490') format('woff'),
       url('iconfont.ttf?t=1762260823490') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1baitianqing:before {
  content: "\e68d";
}

.icon-2yejianqing:before {
  content: "\e68e";
}

.icon-4yewanduoyun:before {
  content: "\e68f";
}

.icon-3qingtianduoyun:before {
  content: "\e690";
}

.icon-5yin:before {
  content: "\e691";
}

.icon-6baitianzhenyu:before {
  content: "\e692";
}

.icon-7yewanzhenyu:before {
  content: "\e693";
}

.icon-8leizhenyu:before {
  content: "\e694";
}

.icon-12zhongyu:before {
  content: "\e695";
}

.icon-11xiaoyu:before {
  content: "\e696";
}

.icon-13dayu:before {
  content: "\e697";
}

.icon-30taifeng:before {
  content: "\e698";
}

.icon-14baoyu:before {
  content: "\e699";
}

.icon-19xiaoxue:before {
  content: "\e69a";
}

.icon-15dabaoyu:before {
  content: "\e69b";
}

.icon-23qingtianwu:before {
  content: "\e69c";
}

.icon-9zhenyujiaxue:before {
  content: "\e69d";
}

.icon-27fuchen:before {
  content: "\e69e";
}

.icon-20zhongxue:before {
  content: "\e69f";
}

.icon-25dongyu:before {
  content: "\e6a0";
}

.icon-31reqiwengao:before {
  content: "\e6a1";
}

.icon-24yejianwu:before {
  content: "\e6a2";
}

.icon-16tedabaoyu:before {
  content: "\e6a3";
}

.icon-28yangsha:before {
  content: "\e6a4";
}

.icon-10yujiaxue:before {
  content: "\e6a5";
}

.icon-26shachenbao:before {
  content: "\e6a6";
}

.icon-29wumai:before {
  content: "\e6a7";
}

.icon-18yejianzhenxue:before {
  content: "\e6a8";
}

.icon-21daxue:before {
  content: "\e6a9";
}

.icon-17qingtianzhenxue:before {
  content: "\e6aa";
}

.icon-32lengqiwendi:before {
  content: "\e6ab";
}

.icon-22baoxue:before {
  content: "\e6ac";
}

.icon-wind:before {
  content: "\e6eb";
}

.icon-humidity:before {
  content: "\e6f7";
}

.icon-tianqitubiao_zhongyu:before {
  content: "\e612";
}

.icon-tianqitubiao_duoyun:before {
  content: "\e613";
}

.icon-tianqitubiao_daxue:before {
  content: "\e614";
}

.icon-tianqitubiao_qing:before {
  content: "\e615";
}

.icon-tianqitubiao_leizhenyu:before {
  content: "\e616";
}

.icon-tianqitubiao_dayu:before {
  content: "\e617";
}

.icon-tianqitubiao_yin:before {
  content: "\e618";
}

.icon-tianqitubiao_dafeng:before {
  content: "\e619";
}

.icon-tianqitubiao_zhongxue:before {
  content: "\e61a";
}

.icon-tianqitubiao_yujiaxue:before {
  content: "\e61b";
}

.icon-tianqitubiao_xiaoyu:before {
  content: "\e61c";
}

.icon-tianqitubiao_xiaoxue:before {
  content: "\e61d";
}

.icon-tianqitubiao_leidian:before {
  content: "\e61e";
}

.icon-tianqitubiao_longjuanfeng:before {
  content: "\e620";
}

.icon-tianqitubiao_leizhenyujiaxue:before {
  content: "\e621";
}

.icon-tianqitubiao_taifeng:before {
  content: "\e622";
}

.icon-tianqitubiao_qiangshachenbao:before {
  content: "\e623";
}

.icon-tianqitubiao_wumai:before {
  content: "\e624";
}

.icon-tianqitubiao_wanduoyun:before {
  content: "\e625";
}

.icon-tianqitubiao_bingbao:before {
  content: "\e626";
}

.icon-tianqitubiao_shachenbao:before {
  content: "\e627";
}

.icon-tianqitubiao_wu:before {
  content: "\e628";
}

.icon-tianqitubiao_wanqing:before {
  content: "\e629";
}

.icon-tianqitubiao_fuchen:before {
  content: "\e62a";
}

